Laboratorio_2a/.vscode/settings.json
Laboratorio_2a/build/.bin_timestamp
Laboratorio_2a/build/.ninja_deps
Laboratorio_2a/build/.ninja_log
Laboratorio_2a/build/build.ninja
Laboratorio_2a/build/compile_commands.json
Laboratorio_2a/build/Laboratorio_2a.bin
Laboratorio_2a/build/Laboratorio_2a.elf
Laboratorio_2a/build/CMakeFiles/CMakeOutput.log
Laboratorio_2a/build/CMakeFiles/git-data/head-ref
Laboratorio_2a/build/bootloader/.bin_timestamp
Laboratorio_2a/build/bootloader/.ninja_deps
Laboratorio_2a/build/bootloader/.ninja_log
Laboratorio_2a/build/bootloader/bootloader.bin
Laboratorio_2a/build/bootloader/bootloader.elf
Laboratorio_2a/build/bootloader/CMakeFiles/CMakeOutput.log
Laboratorio_2a/build/bootloader/esp-idf/bootloader_support/libbootloader_support.a
Laboratorio_2a/build/bootloader/esp-idf/bootloader_support/CMakeFiles/__idf_bootloader_support.dir/src/bootloader_init.c.obj
Laboratorio_2a/build/bootloader/esp-idf/esp_app_format/libesp_app_format.a
Laboratorio_2a/build/bootloader/esp-idf/esp_app_format/CMakeFiles/__idf_esp_app_format.dir/esp_app_desc.c.obj
Laboratorio_2a/build/esp-idf/esp_app_format/libesp_app_format.a
Laboratorio_2a/build/esp-idf/esp_app_format/CMakeFiles/__idf_esp_app_format.dir/esp_app_desc.c.obj
Laboratorio_2a/build/.bin_timestamp
Laboratorio_2a/build/.ninja_deps
Laboratorio_2a/build/.ninja_log
Laboratorio_2a/build/build.ninja
Laboratorio_2a/build/compile_commands.json
Laboratorio_2a/build/Laboratorio_2a.bin
Laboratorio_2a/build/Laboratorio_2a.elf
Laboratorio_2a/build/CMakeFiles/CMakeOutput.log
Laboratorio_2a/build/CMakeFiles/git-data/head-ref
Laboratorio_2a/build/bootloader/.bin_timestamp
Laboratorio_2a/build/bootloader/.ninja_deps
Laboratorio_2a/build/bootloader/.ninja_log
Laboratorio_2a/build/bootloader/bootloader.bin
Laboratorio_2a/build/bootloader/bootloader.elf
Laboratorio_2a/build/bootloader/CMakeFiles/CMakeOutput.log
Laboratorio_2a/build/bootloader/esp-idf/bootloader_support/libbootloader_support.a
Laboratorio_2a/build/bootloader/esp-idf/bootloader_support/CMakeFiles/__idf_bootloader_support.dir/src/bootloader_init.c.obj
Laboratorio_2a/build/bootloader/esp-idf/esp_app_format/libesp_app_format.a
Laboratorio_2a/build/bootloader/esp-idf/esp_app_format/CMakeFiles/__idf_esp_app_format.dir/esp_app_desc.c.obj
Laboratorio_2a/build/esp-idf/esp_app_format/libesp_app_format.a
Laboratorio_2a/build/esp-idf/esp_app_format/CMakeFiles/__idf_esp_app_format.dir/esp_app_desc.c.obj
Laboratorio_2a/.vscode/settings.json
